<a href="https://colab.research.google.com/github/Tisks/Covid-Big-Data/blob/master/Grafico_mundial_subplot_HumData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
#importar el archivo
df=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv', sep= ',')
df

    Province/State         Country/Region        Lat  ...  8/1/20  8/2/20  8/3/20
0              NaN            Afghanistan  33.939110  ...   36710   36710   36747
1              NaN                Albania  41.153300  ...    5396    5519    5620
2              NaN                Algeria  28.033900  ...   30950   31465   31972
3              NaN                Andorra  42.506300  ...     925     925     937
4              NaN                 Angola -11.202700  ...    1164    1199    1280
..             ...                    ...        ...  ...     ...     ...     ...
261            NaN  Sao Tome and Principe   0.186400  ...     874     874     874
262            NaN                  Yemen  15.552727  ...    1730    1734    1734
263            NaN                Comoros -11.645500  ...     386     386     386
264            NaN             Tajikistan  38.861000  ...    7451    7495    7538
265            NaN                Lesotho -29.610000  ...     702     718     718

[266 rows x 199 columns]

In [4]:
#Agrupar paises
agrupado_pais=df.groupby('Country/Region').sum()
#limpiar columnas que no sirven
df = df.drop(['Province/State', 'Lat', 'Long'], axis=1)
df

            Country/Region  1/22/20  1/23/20  ...  8/1/20  8/2/20  8/3/20
0              Afghanistan        0        0  ...   36710   36710   36747
1                  Albania        0        0  ...    5396    5519    5620
2                  Algeria        0        0  ...   30950   31465   31972
3                  Andorra        0        0  ...     925     925     937
4                   Angola        0        0  ...    1164    1199    1280
..                     ...      ...      ...  ...     ...     ...     ...
261  Sao Tome and Principe        0        0  ...     874     874     874
262                  Yemen        0        0  ...    1730    1734    1734
263                Comoros        0        0  ...     386     386     386
264             Tajikistan        0        0  ...    7451    7495    7538
265                Lesotho        0        0  ...     702     718     718

[266 rows x 196 columns]

In [6]:
#encontrar 10 paises con maximo contagio (hacerlo fc y adaptarlo a paises con mas muertes)

dates=df.columns
df0 = df.drop(columns=dates[1:-1], axis=1)
#ordenar de mayor a menor por cantidad de contagiados
df0=df0.sort_values(by=dates[-1],ascending=False)
#mostrar solo primeros 10
df0=df0.head(10)
df0

    Country/Region   8/3/20
225             US  4713540
28          Brazil  2750318
131          India  1855745
187         Russia   854641
200   South Africa   516862
158         Mexico   443813
181           Peru   433100
48           Chile   361493
82        Colombia   327850
133           Iran   312035

In [9]:
#lista con los 10 paises
lis=[]
for paises in df0['Country/Region']:
    lis.append(paises)

#subframe todos los datos para los 10 peores paises
top10casos=pd.DataFrame()
for i in lis:
    df00 = df.drop(df[df['Country/Region']!=i].index)
    top10casos = pd.concat([top10casos, df00], axis=0)
#eliminar duplicados que quedan del for
top10casos.drop_duplicates(keep=False)
top10casos

    Country/Region  1/22/20  1/23/20  ...   8/1/20   8/2/20   8/3/20
225             US        1        1  ...  4620592  4668172  4713540
28          Brazil        0        0  ...  2707877  2733677  2750318
131          India        0        0  ...  1750723  1803695  1855745
187         Russia        0        0  ...   843890   849277   854641
200   South Africa        0        0  ...   503290   511485   516862
158         Mexico        0        0  ...   434193   439046   443813
181           Peru        0        0  ...   407492   428850   433100
48           Chile        0        0  ...   357658   359731   361493
82        Colombia        0        0  ...   306181   317651   327850
133           Iran        0        0  ...   306752   309437   312035

[10 rows x 196 columns]