<a href="https://colab.research.google.com/github/Tisks/Covid-Big-Data/blob/master/Grafico_mundial_subplot_HumData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [6]:
#importar el archivo
df=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv', sep= ',')
df

    Province/State         Country/Region        Lat  ...  8/1/20  8/2/20  8/3/20
0              NaN            Afghanistan  33.939110  ...   36710   36710   36747
1              NaN                Albania  41.153300  ...    5396    5519    5620
2              NaN                Algeria  28.033900  ...   30950   31465   31972
3              NaN                Andorra  42.506300  ...     925     925     937
4              NaN                 Angola -11.202700  ...    1164    1199    1280
..             ...                    ...        ...  ...     ...     ...     ...
261            NaN  Sao Tome and Principe   0.186400  ...     874     874     874
262            NaN                  Yemen  15.552727  ...    1730    1734    1734
263            NaN                Comoros -11.645500  ...     386     386     386
264            NaN             Tajikistan  38.861000  ...    7451    7495    7538
265            NaN                Lesotho -29.610000  ...     702     718     718

[266 rows x 199 columns]

In [7]:
#Agrupar paises
agrupado_pais=df.groupby('Country/Region').sum()
#dejar solo el pais con su acumulado de casos a la fecha
df1 = agrupado_pais.iloc[:,-1]
df1

Country/Region
Afghanistan           36747
Albania                5620
Algeria               31972
Andorra                 937
Angola                 1280
                      ...
West Bank and Gaza    12541
Western Sahara           10
Yemen                  1734
Zambia                 6580
Zimbabwe               4075
Name: 8/3/20, Length: 188, dtype: int64

In [8]:
#ordenar decendente los datos y mostrar los 10 primeros
df1=df1.sort_values(ascending=False)
df1.head(10)
#Despues dejar la limpieza y obtener los 10 como funcion

Country/Region
US              4713540
Brazil          2750318
India           1855745
Russia           854641
South Africa     516862
Mexico           443813
Peru             433100
Chile            361493
Colombia         327850
Iran             312035
Name: 8/3/20, dtype: int64